<h1>Comments#new</h1>
<p>Find me in app/views/comments/new.html.erb</p>

<title><%= @title %> Post a comment</title>
<p><%= link_to "Back to List", micropost_comments_path %></p>


<%= render 'form2' %>


