<h1>Comments#show</h1><Br/>
<p>
  <strong>body:</strong>
  <%= @comment.body %>
</p>

<p>
  <%= link_to "Edit", edit_micropost_comment_path(@micropost, @comment) %> |
  <%= link_to "Destroy", [@micropost ,@comment], :confirm => 'Are you sure?', :method => :delete %> |
  <%= link_to "View All", micropost_comments_path(@micropost) %>
</p>



