<div id="central_bar_thin">

</div>

<div id="container_bg">
	<div id="container3">
		<div id="container_top2">
			<div class="article3">
				<h1>Advertise With Us</h1>
			</div>
		</div>
		
		<div id="container_main3">
				<p>You have an awesome idea to advertise your brand on HelpMeDateYou™? If you are an awesome brand interested to make the best out of your advertising buck, feel free to email us at <%= link_to 'helpmedateyou@gmail.com', contact_path %> any time!</p>
				<%= image_tag("advertise-with-us.png") %>
		</div>
	</div>
</div>
