<meta name="description" content="Share tips and advice anonymously with the right gender and talk about it." />
<meta property="og:url" content="http://www.helpmedateyou.com" />

<div id="central_bar"></div>

<div id="container_bg">
	<div id="container">
		<div id="container_top">

			<% @micropost = Micropost.new %>
			<%= render  :partial => 'microposts/form2', :locals => { :micropost => @micropost } %>
			<!-- <%= debug(params) if Rails.env.development? %> -->

		</div>
		<div id="container_main">
			<div id="articles">
		
				<div class="article">
					<ol>
						<div id="microjax">
						<%= render 'microposts' %>
						</div>
						<div id="articles-footer">
							<%= render 'pagination'%>
						</div>
					</ol>
				</div>
			</div>

        

			
		</div>
	</div>	
</div>


<!-- END of CONTAINER here-->