<div id="central_bar_thin">

</div>

<div id="container_bg">
	<div id="container3">
		<div id="container_top2">
			<div class="article3">
				<h1>HelpMeDateYou.com Terms & Code of Conduct:</h1>
			</div>
		</div>
		
		<div id="container_main3">
			<p>
				<strong>1.</strong>	The views expressed here are those of the author and do not necessarily reflect those of HelpMeDateYou.com. We take no responsibility for the content or opinions posted here.
			</p><br/>
			<p>	
				<strong>2.</strong>	We reserve the right to remove any content from our social media pages if the content is deemed inappropriate and offensive. We will also delete comments that constitute hate speech; or speech designed to incite violence or hatred, or threats. These types of comments will not be accepted or tolerated.
			</p><br/>
			<p>
				<strong>3.</strong>	When posting comments don’t use offensive language. We will not tolerate any form of bad language, blasphemy and the like. Comments that are obscene, racist, abusive or sexually explicit will be deleted. 
			</p><br/>
			<p>
				<strong>4.</strong>	Please don’t use our social media pages to do or suggest anything illegal. Never share or ask other users for their personal info on this platform and keep your information safe and private.
			</p><br/>
			<p>
				<strong>5.</strong>	Don't post adverts, including links to external commercial sites or posts that promote your own business. This means not placing any spam on our pages. 
			</p><br/>
			<p>
				<strong>6.</strong>	 We reserve the right to amend these Terms of Use from time to and such amendments shall be binding.
			</p>
		</div>
	</div>
</div>
