<div id="textfield">
		<%= form_for @micropost do |f| %>
    	<%= f.text_field :content, :size => 90 , :class => "inputtext", :placeholder => "What's worth sharing?"%> <br/>

</div>
<span>You have <span id="charsLeft"></span> chars left.</span>
<script>

$('.inputtext').limit('140','#charsLeft');

</script>
<div id="buttons">
	<%= f.submit "to Guys", :class => "toguys" %>
    <%= f.submit "to Girls", :class => "togirls"%>
</div>
	<% end %>
