<div id="central_bar_top">
	<%= form_for @micropost do |f| %>
	<%= f.text_field :content, :size => 140 , :class => "inputtext", :placeholder => "What's worth sharing?"%> 
	<span id="charsLeft"></span>
	<script>
	$('.inputtext').limit('140','#charsLeft');
	</script>
</div>
<div id="central_bar_bottom">
	<%= f.submit "To Guys", :class => "toguys", :type => :image%>
	<%= f.submit "To Girls", :class => "togirls", :type => :image"%>
	<% end %>
</div>
	
 