<h1>Microposts#<%= @micropost.id%></h1>
<p>Find me in app/views/microposts/show2.html.erb</p>
<p>
  <strong>content:</strong>
  <%= @micropost.content %>
</p>
<p>
  <strong>tag:</strong>
  <%= @micropost.tag %>
</p>

<div class="fb-comments" data-href="http://localhost:3000/micropost/<%= @micropost.id %>" data-num-posts="4" data-width="470"></div>





