html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
    background: none repeat scroll 0 0 transparent;
    border: 0 none;
    font-size: 100%;
    margin: 0;
    outline: 0 none;
    padding: 0;
    vertical-align: baseline;
}
body {
    line-height: 1;
}
ol, ul, li {
    list-style: none outside none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after, q:before, q:after {
    content: none;
}
:focus {
    outline: 0 none;
}
ins {
    text-decoration: none;
}
del {
    text-decoration: line-through;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
a {
    color: #9C5322;
    font-family: "ITCFranklinGothicStdMedium","Times New Roman",Georgia,Serif;
    text-decoration: none;
    vertical-align: middle;
}
body {
    background: url("pattern.png") repeat scroll 0 0 transparent;
}
div#container {
}
nav.navigation {
    background: url("nav-bg.png") repeat scroll 0 0 transparent;
    height: 34px;
}
nav.menu_left {
    float: left;
    width: 50%;
}
nav.menu_right {
    float: right;
    text-align: right;
    width: 50%;
}
section#header_content {
    margin: 0 auto;
    width: 100%;
}
div#top_container {
    background: url("bg-header.png") repeat scroll 0 0 transparent;
    text-align: right;
}
div#top_container .sharelikelogo {
    padding-right: 10px;
    position: absolute;
    right: 10px;
    z-index: 1000;
}
div.logo_wrapper {
    background: url("cityLine2d.png") no-repeat scroll center center transparent;
    margin: 0 auto;
    padding-top: 23px;
    text-align: center;
    width: 997px;
}
div.logo_wrapper img {
    bottom: 8px;
    position: relative;
}
.mylogo {
    padding-left: 30px;
}
.blackbox_wrapper_bg {
    background: url("mainbox-bg.png") repeat scroll 0 0 transparent;
}
div.blackbox_wrapper {
    background: url("cityLine_btm.png") no-repeat scroll center center transparent;
    height: 191px;
    margin: 0 auto;
    width: 997px;
}
div.textfield_wrapper {
    padding-top: 14px;
    text-align: center;
}
input.entry_text {
    color: #FF8E42;
    font-family: "ITCFranklinGothicStdMedium","Times New Roman",Georgia,Serif;
    font-size: 1.3em;
    height: 40px;
    text-align: center;
    width: 62%;
}
input.entry_text:-moz-placeholder {
    color: #FF8E42;
}
.char_count_label {
    color: #9C623A;
    font-weight: bold;
    padding-top: 10px;
    position: absolute;
    text-align: right;
    width: 800px;
}
.char_count {
    color: #FF8B3E;
}
div.buttons_wrappers {
    height: 71px;
    margin: 0 auto;
    padding-top: 46px;
    text-align: center;
    width: 43.9528%;
}
.btn_wrap {
    margin-left: 7px;
    margin-right: 7px;
}
section#main_container {
    margin: 0 auto;
    width: 996px;
}
#inside_main {
    background: none repeat scroll 0 0 #F9DFC4;
    margin: 0 auto;
    width: 641px;
}
div.share_article {
    background: none repeat scroll 0 0 green;
    margin: 0 auto;
    text-align: right;
    width: 59.1775%;
}
div.article_post {
    background: url("bubblecontainer-light.png") no-repeat scroll 0 0 transparent;
    height: 135px;
    margin: 0 auto;
    width: 639px;
}
span#post_wrapper {
    display: inline-block;
    width: 100%;
}
.bubble_logo {
    display: inline-block;
    float: left;
    padding-left: 28px;
    padding-top: 7px;
}
.bubble_wrap {
    display: inline-block;
    float: right;
    height: 60px;
    padding-right: 40px;
    padding-top: 20px;
    width: 448px;
}
.bubble_wrap p {
    color: #9C5322;
    font-family: "ITCFranklinGothicStdMedium","Times New Roman",Georgia,Serif;
    font-size: 15px;
    height: 53px;
    padding-top: 4px;
}
.flag_wrapper {
    display: block;
    left: 488px;
    position: relative;
    top: 64px;
    width: 200px;
}
div.article_buttonss {
    margin: 0 auto;
    padding-top: 9px;
    width: 100%;
}
div.article_buttonss p {
    font-family: "ITCFranklinGothicStdMedium","Times New Roman",Georgia,Serif;
    vertical-align: middle;
}
span.votes_wrapper {
    color: #FF8E42;
    float: left;
    padding-left: 112px;
    width: 50%;
}
span.votes_wrapper img {
    padding-left: 10px;
    padding-right: 7px;
    vertical-align: middle;
}
span.votes_wrapper p {
    padding-top: 2px;
}
span.comment_wrapper {
    float: right;
    padding-right: 3px;
    text-align: right;
    width: 20%;
}
.pagination_tab {
    background: none repeat scroll 0 0 purple;
    display: inline-block;
    position: relative;
    text-align: center;
    width: 100%;
}
.comments_post {
    background: none repeat scroll 0 0 #F1D4B5;
    text-align: center;
}
.fbsizeshow {
    background-color: #d4bea1;
    border-bottom: 5px solid #C1AB91;
    margin-top: 10px;
    padding: 20px;
}
.fbsizehide {
    display: none;
}
.toguys {
    background: url("Btn-Guys.png") no-repeat scroll 0 0 transparent;
    border: medium none;
    height: 35px;
    text-indent: -9999px;
    width: 137px;
}
.toguys:hover, .toguys:focus {
    background: url("Btn-Guys-Over.png") no-repeat scroll 0 0 transparent;
}
.togirls {
    background: url("Btn-Girls.png") no-repeat scroll 0 0 transparent;
    border: medium none;
    height: 35px;
    text-indent: -9999px;
    width: 137px;
}
.togirls:hover, .togirls:focus {
    background: url("Btn-Girls-Over.png") no-repeat scroll 0 0 transparent;
}
#central_bar {
    height: 30px;
    margin: 0 auto;
    padding-top: 20px;
    text-align: center;
    width: 60%;
}
.time {
    color: grey;
    font-size: 12px;
    padding-left: 30px;
}
@font-face {
    font-family: "HelveticaLTStdRoman";
    font-style: normal;
    font-weight: normal;
    src: url("helveticaltstd-roman-webfont.eot?#iefix") format("embedded-opentype"), url("helveticaltstd-roman-webfont.woff") format("woff"), url("helveticaltstd-roman-webfont.ttf") format("truetype"), url("helveticaltstd-roman-webfont.svg#HelveticaLTStdRoman") format("svg");
}
@font-face {
    font-family: "ITCFranklinGothicStdMedium";
    font-style: normal;
    font-weight: normal;
    src: url("itcfranklingothicstd-med-webfont.eot?#iefix") format("embedded-opentype"), url("itcfranklingothicstd-med-webfont.woff") format("woff"), url("itcfranklingothicstd-med-webfont.ttf") format("truetype"), url("itcfranklingothicstd-med-webfont.svg#ITCFranklinGothicStdMedium") format("svg");
}
@font-face {
    font-family: "ITCFranklinGothicStdBook";
    font-style: normal;
    font-weight: normal;
    src: url("itcfranklingothicstd-book-webfont.eot?#iefix") format("embedded-opentype"), url("itcfranklingothicstd-book-webfont.woff") format("woff"), url("itcfranklingothicstd-book-webfont.ttf") format("truetype"), url("itcfranklingothicstd-book-webfont.svg#ITCFranklinGothicStdBook") format("svg");
}
.time {
    color: grey;
    font-size: 12px;
    padding-left: 15px;
}
span.votes_wrapper img {
    margin: auto 0;
    padding-left: 10px;
    padding-right: 5px;
    vertical-align: middle;
}
span.votes_wrapper p {
    overflow: visible;
    vertical-align: middle;
}
span.votes_wrapper {
    color: #FF8E42;
    float: left;
    padding-left: 112px;
    width: 50%;
}
#footer {
    background: url("nav-bg.png") repeat scroll 0 0 transparent;
    bottom: 0;
    opacity: 0.9;
    padding-bottom: 3px;
    padding-right: 10px;
    padding-top: 2px;
    position: fixed;
    width: 100%;
}
#terms {
    display: inline-block;
    float: left;
    margin-left: 20px;
}
#terms a {
    font-family: "HelveticaLTStdRoman","Times New Roman",Georgia,Serif;
    font-size: 14px;
    padding: 0 6px;
}
#terms a:hover {
    color: white;
    font-family: "HelveticaLTStdRoman","Times New Roman",Georgia,Serif;
    font-size: 14px;
}
#credit {
    float: right;
    font-family: "HelveticaLTStdRoman","Times New Roman",Georgia,Serif;
    font-size: 14px;
}
.techfieldhere {
    background: url("bubble-comment1.png") no-repeat scroll 0 0 transparent;
    display: inline-block;
    float: left;
    height: 43px;
    padding-bottom: 15px;
    width: 70%;
}
.respondfield {
    background: none repeat scroll 0 0 transparent;
    border: medium none;
    font-size: 14px;
    height: 34px;
    margin-left: 59px;
    vertical-align: middle;
    width: 84%;
}
.comment_buttons {
    display: inline-block;
    float: right;
}
#comments_listed li {
    margin-left: 60px;
}
#comments_listed li:nth-child(2n+1) {
    background: none repeat scroll 0 0 #e3cbad;
    color: #966545;
    font-family: "ITCFranklinGothicStdMedium","Times New Roman",Georgia,Serif;
    font-size: 1em;
    height: 70px;
    padding-left: 10px;
    text-align: left;
}
#comments_listed li:nth-child(2n) {
    background: none repeat scroll 0 0 #dbbb95;
    color: #966545;
    font-family: "ITCFranklinGothicStdMedium","Times New Roman",Georgia,Serif;
    font-size: 1em;
    height: 70px;
    padding-left: 10px;
    text-align: left;
}
#comments_listed p.com_comment {
    display: inline-block;
    font-size: 15px;
    margin-top: 1px;
    position: relative;
    width: 390px;
}
#comments_listed p.com_time {
    color: grey;
    display: inline-block;
    float: right;
    font-size: 10px;
    position: relative;
}
.asguys {
    background-attachment: scroll;
    background-clip: border-box;
    background-color: transparent;
    background-image: url("Btn-Girls.png");
    background-origin: padding-box;
    background-position: 0 0;
    background-repeat: no-repeat;
    background-size: 82px 20px;
    border: medium none;
    height: 20px;
    text-indent: -9999px;
    width: 82px;
}
.asgirls {
    background-attachment: scroll;
    background-clip: border-box;
    background-color: transparent;
    background-image: url("Btn-Guys.png");
    background-origin: padding-box;
    background-position: 0 0;
    background-repeat: no-repeat;
    background-size: 82px 20px;
    border: medium none;
    height: 20px;
    text-indent: -9999px;
    width: 82px;
}
#comments_listed img {
    padding-right: 10px;
    padding-top: 5px;
    vertical-align: bottom;
}
#charsLeftcomment {
    bottom: 34px;
    color: grey;
    font-size: 13px;
    left: 399px;
    position: relative;
}


.search_input_field{
	padding-top: 4px;
	padding-right: 100px;		
}

.search_button{
	padding-top: 5px;
	width: 100px;
	height: 27px;
	font-size: 0.9em;
}	

.filter_links a:hover{
	color: white;
}

.filter_links a{
	color: black;
}