
/*.notification
{
    text-align: center;
    display: none;
    width: 100%;
    position: fixed;
    padding-top: 8px;
    padding-bottom: 8px;
    margin: 0;
    font-weight: bold;
    font-size: 1.2em;
    overflow: visible;
}
*/







html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
}

body {
	line-height: 1;
}

ol, ul, li{
	list-style: none;
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

/* remember to define focus styles! */
:focus {
	outline: 0;
}

/* remember to highlight inserts somehow! */
ins {
	text-decoration: none;
}

del {
	text-decoration: line-through;
}

/* tables still need 'cellspacing="0"' in the markup */
table {
	border-collapse: collapse;
	border-spacing: 0;
}

a {
	text-decoration: none;
	font-family: "ITCFranklinGothicStdMedium", "Times New Roman", Georgia, Serif;
    vertical-align: middle;
 	color: #9c5322;
}

/* END OF RESET - BEGINNING OF CONTAINER*/


/* */

body {
    background: url("pattern.png") repeat scroll 0 0 transparent;
}
div#container {
}
nav.navigation {
    background: url("nav-bg.png") repeat scroll 0 0 transparent;
    height: 34px;
}
nav.menu_left {
    float: left;
    width: 50%;
}
nav.menu_right {
    float: right;
    text-align: right;
    width: 50%;
}
section#header_content {
    margin: 0 auto;
    width: 100%;
}
div#top_container {
    background: url("bg-header.png") repeat scroll 0 0 transparent;
    text-align: right;
}

div#top_container .sharelikelogo{
    padding-right: 10px;
    position: absolute;
    z-index: 1000;
    right: 10px;
}

div.logo_wrapper {
    background: url("cityLine2d.png") no-repeat center;
    margin: 0 auto;
    padding-top: 23px;
    text-align: center;
    width: 997px;
}

div.logo_wrapper img{
    position: relative;
    bottom: 8px;
}

.mylogo {
    padding-left: 30px;
}
.blackbox_wrapper_bg {
    background: url("mainbox-bg.png") repeat scroll 0 0 transparent;
}

div.blackbox_wrapper {
    background: url("cityLine_btm.png") no-repeat scroll center center transparent;
    height: 191px;
    margin: 0 auto;
    width: 997px;
}
div.textfield_wrapper {
    padding-top: 14px;
    text-align: center;
}
input.entry_text {
    
    font-size: 1.3em;
    height: 40px;
    text-align: center;
    width: 62%;
    color: #ff8e42;
    font-family: "ITCFranklinGothicStdMedium", "Times New Roman", Georgia, Serif;
	
}

input.entry_text:-moz-placeholder {
    color: #ff8e42;
}

input.entry_text:-webkit-input-placeholder {
    color: #ff8e42;
}

.char_count_label{
    color: #9c623a ;
    font-weight: bold;
    position: absolute;

    text-align: right;
    width: 800px;    
    padding-top: 10px;
}
.char_count{
    color: #ff8b3e;
}

div.buttons_wrappers {
    height: 71px;
    margin: 0 auto;
    padding-top: 46px;
    text-align: center;
    width: 43.9528%;
}
.btn_wrap {
    margin-left: 7px;
    margin-right: 7px;
}
section#main_container {
    margin: 0 auto;
    width: 996px;
}

#inside_main{
    background: none repeat scroll 0 0 #f9dfc4;
    width: 641px;
    margin: 0 auto;
}
div.share_article {
    background: none repeat scroll 0 0 green;
    margin: 0 auto;
    text-align: right;
    width: 59.1775%;
}
div.article_post {
    background: url(bubblecontainer-light.png) no-repeat;
    margin: 0 auto;
    width: 639px;
    height: 135px;
}
span#post_wrapper {
    display: inline-block;
    width: 100%;
}
.bubble_logo{
   display: inline-block;
    padding-left: 28px;
    padding-top: 7px;
    float:left;
}
.bubble_wrap{
    display: inline-block;
    width: 448px;
    height: 60px;
    float:right;
    padding-top: 20px;
    padding-right: 40px;

}

.bubble_wrap p{
    color: #9c5322;
    padding-top: 4px;
    height: 53px;
    font-size: 15px;
    font-family: "ITCFranklinGothicStdMedium", "Times New Roman", Georgia, Serif;
    
    
}
.flag_wrapper {
    
    display: block;
    position: relative;
    top: 64px;
    left: 488px;
    width: 200px;
}
div.article_buttonss {
    margin: 0 auto;
    padding-top: 9px;
    width: 100%;
}

div.article_buttonss p{
    font-family: "ITCFranklinGothicStdMedium", "Times New Roman", Georgia, Serif;
    vertical-align: middle;    
}

span.votes_wrapper {
    color: #ff8e42;
    padding-left: 112px;
    float: left;
    width: 50%;
	vertical-align: center;

}

span.votes_wrapper img{
	padding-left: 10px;
	padding-right: 7px;
	vertical-align: middle;
    
}

span.votes_wrapper p{ 	
	padding-top: 2px;
}
span.comment_wrapper {
    float: right;
    padding-right: 3px;
    text-align: right;
    width: 20%;
}
.pagination_tab {
    background: none repeat scroll 0 0 purple;
    display: inline-block;
    position: relative;
    text-align: center;
    width: 100%;
}

/*#footer {
        opacity: 0.4;
        filter: alpha(opacity=40);
}*/

/* DIV FOR COMMENTS */

.comments_post{
    background: #f1d4b5;
    text-align:center;
	overflow: visible;
}

#container_main2 {
	overflow-y: auto;
	-ms-overflow-y: auto;
	height: 250px;
}


.fbsizeshow {
    height:300px;
    background-color: #f1d4b5;
    padding:20px;
    margin-top:10px;
    border-bottom:5px solid #c1ab91;
}
 
.fbsizehide {
    display:none;
}


/* FORM: toguys and togirls buttons */

.toguys{
	background: url("Btn-Guys.png") no-repeat;
	width: 137px;
	height: 35px;
	border: none;
	text-indent: -9999px;
}

.toguys:hover, .toguys:focus{
	background: url('Btn-Guys-Over.png') no-repeat;
}

.togirls{
	background: url("Btn-Girls.png") no-repeat;
	width: 137px;
	height: 35px;
	border: none;
	text-indent: -9999px;
}

.togirls:hover, .togirls:focus{
	  background: url("Btn-Girls-Over.png") no-repeat;
}

#central_bar{
    padding-top: 20px;
    width: 60%;
    margin: 0 auto;
    text-align: center;
    height: 30px;
}


.time {
    padding-left: 30px;
    color: grey;
    font-size: 12px;
}

/* Generated by Font Squirrel (http://www.fontsquirrel.com) on April 26, 2012 */



@font-face {
    font-family: 'HelveticaLTStdRoman';
    src: url('helveticaltstd-roman-webfont.eot');
    src: url('helveticaltstd-roman-webfont.eot?#iefix') format('embedded-opentype'),
         url('helveticaltstd-roman-webfont.woff') format('woff'),
         url('helveticaltstd-roman-webfont.ttf') format('truetype'),
         url('helveticaltstd-roman-webfont.svg#HelveticaLTStdRoman') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'ITCFranklinGothicStdMedium';
    src: url('itcfranklingothicstd-med-webfont.eot');
    src: url('itcfranklingothicstd-med-webfont.eot?#iefix') format('embedded-opentype'),
         url('itcfranklingothicstd-med-webfont.woff') format('woff'),
         url('itcfranklingothicstd-med-webfont.ttf') format('truetype'),
         url('itcfranklingothicstd-med-webfont.svg#ITCFranklinGothicStdMedium') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'ITCFranklinGothicStdBook';
    src: url('itcfranklingothicstd-book-webfont.eot');
    src: url('itcfranklingothicstd-book-webfont.eot?#iefix') format('embedded-opentype'),
         url('itcfranklingothicstd-book-webfont.woff') format('woff'),
         url('itcfranklingothicstd-book-webfont.ttf') format('truetype'),
         url('itcfranklingothicstd-book-webfont.svg#ITCFranklinGothicStdBook') format('svg');
    font-weight: normal;
    font-style: normal;

}
.time {
    padding-left: 15px;
    color: grey;
    font-size: 12px;
}


span.votes_wrapper img{
	padding-left: 10px;
	padding-right: 5px;
	vertical-align: middle;
	margin: auto 0;
}

span.votes_wrapper p{
	vertical-align: middle;
	overflow: visible;
}
	
	span.votes_wrapper {
	    color: #ff8e42;
	    padding-left: 112px;
	    float: left;
	    width: 50%;
		vertical-align: center;
	}
	
	
	
/* FOOTER */


#footer{
        background: url(nav-bg.png);
        opacity: 0.9;
        bottom:0px;
        position: fixed;
        width: 100%;
        padding-top: 2px;
        padding-right: 10px;
	padding-bottom: 3px;
}

#terms{
        margin-left: 20px;	
        float: left;
        display: inline-block;
}

#terms a{
		padding: 0 6px;
    	font-size: 14px;
		font-family: "HelveticaLTStdRoman", "Times New Roman", Georgia, Serif;
}

#terms a:hover{
		color: white;
    	font-size: 14px;
		font-family: "HelveticaLTStdRoman", "Times New Roman", Georgia, Serif;
}


#credit{
        font-size: 14px;
	font-family: "HelveticaLTStdRoman", "Times New Roman", Georgia, Serif;
        float: right;    
}



.techfieldhere{
    background: url('bubble-comment1.png') no-repeat;
    padding-bottom: 15px;
    width:70%;
    display: inline-block;
    float: left;
    height: 43px;
}

.respondfield{
    margin-left:59px;
    vertical-align: middle;
    width: 84%;
    height: 34px;
    background: none;
    font-size: 14px;
    border: none;
    

}

.comment_buttons{
    display: inline-block;
    float: right;
    
}


#comments_listed li{
   
   
    
}

#comments_listed li:nth-child(odd) {
    background: #f8ddc0;
    font-size: 1em;
    height: 70px;
    text-align: left;
    padding-left: 10px;
    color: #966545;
    font-family: "ITCFranklinGothicStdMedium", "Times New Roman", Georgia, Serif;
}

#comments_listed li:nth-child(even) {
    background: #e6c6a3;
    font-size: 1em;
    height: 70px;
    text-align: left;
    padding-left: 10px;
    color: #966545;
    font-family: "ITCFranklinGothicStdMedium", "Times New Roman", Georgia, Serif;
}

#comments_listed p.com_comment{
    font-size: 15px;
    margin-top:1px;
    display: inline-block;
    positon: relative;
    width: 500px;

}

#comments_listed p.com_time{
    font-size: 10px;
    display: inline-block;
    position:relative;
    float: right;
    color: grey;
}


.asguys{
	background: url("Btn-Girls.png") no-repeat;
        background-size:82px 20px;
	width: 82px;
	height: 20px;
	border: none;
	text-indent: -9999px;
}

.asgirls{
	background: url("Btn-Guys.png") no-repeat;
        background-size:82px 20px;
	width: 82px;
	height: 20px;
	border: none;
	text-indent: -9999px;
}

#comments_listed img{
    vertical-align: bottom;
    padding-top: 5px;
    padding-right: 10px;
}

#charsLeftcomment{
    position: relative;
    bottom: 34px;
    left: 399px;
    color: grey;
    font-size: 13px;
}