html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
    background: none repeat scroll 0 0 transparent;
    border: 0 none;
    font-size: 100%;
    margin: 0;
    outline: 0 none;
    padding: 0;
    vertical-align: baseline;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none outside none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after, q:before, q:after {
    content: none;
}
:focus {
    outline: 0 none;
}
ins {
    text-decoration: none;
}
del {
    text-decoration: line-through;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
body {
    background: none repeat scroll 0 0 white;
}
#background {
    background: url("background.png") repeat scroll 0 0 transparent;
    height: 950px;
    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
    width: 960px;
}
nav .twitter-follow-button {
   	float: right;
	position: relative;
    right: 30px;
}
div#header {
    height: 170px;
    position: relative;
    top: 51px;
}
div#header #title {
    position: relative;
    top: 10px;
}
div#header div#box {
    width: 580px;
}
div#boxheader {
    height: 138px;
    position: relative;
    width: 480px;
}
div#header div#textfield {
    background-image: url("boxybackground.png");
    height: 66px;
    margin-top: 30px;
    overflow: hidden;
    padding-top: 18px;
    position: relative;
    width: 960px;
}
.inputtext {
    background: none repeat scroll 0 0 transparent;
    border: medium none;
    font: 30px Tahoma,Helvetica,Arial,Sans-Serif;
    height: 50px;
    width: 470px;
}
#buttons img {
    margin: 13px 10px;
}
#container {
    position: relative;
    top: 300px;
}
#separator {
    background-image: url("whatpeoplesay.png");
    color: white;
    height: 33px;
    margin-bottom: 10px;
    text-indent: -9999px;
}
#section {
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  width: 615px
}

div#paginkamari {
  color: #9F533F;
  position: relative;
  top: 20px;
  font-size: 20px;
}

div#paginkamari a{
    color: #9F533F;
}

div#paginkamari a:hover {
  color: white;
}

.toguys{
 background: url('guys_button.png');
 width: 122px;
 height: 38px ;
 border: none;
 text-indent: 9999px;
}

.togirls{
 background: url('girls_button.png');
 width: 122px;
 height: 38px ;
 border: none;
 text-indent: 9999px;
}


div.display{
   width: 440px;
   margin-left: auto;
   margin-right: auto;
}


 p.peopleposts  {
  background: white;
  color: black;
  background: white;
  color: black;
  padding: 10px 14px;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  border-radius: 12px;
  text-align: center;
  vertical-align: middle;
  width: 400px;
  
}

p.peopleposts a:link {
    color: black;
    text-decoration: none;
}

p.peopleposts a:visited{
   color: black;
}

p.peopleposts a:hover {
    color: red;
}


td { 
     vertical-align: middle;
     padding-right: 10px;
    }

th { 
	  padding: 10px;
	  }
	
	
	
.menu{
	background: #9F533F;
	padding-left: 5px;
	padding-right: 5px;
	margin-right: 5px;
	margin-left: 5px;
	padding-top: 5px;
}

a.menu {
    color: white;
    text-decoration: none;
    padding: 4px;
}